html {
	scroll-behavior: smooth;
}

.arrow {
	width: 3em;
	float: right;
	margin: 0 1em;
}

.foot {
	background-color: rgb(226, 226, 29);
	display: inline-block;
	width: 100%;
}

.logo {
	float: left;
	padding: 0.5em;
	margin: 0.8em;
	color: black;
	font-size: 2em;
}

.top {
	background-color: rgb(226, 226, 29);
	float: right;
	padding: 0 1.5em;
	color: black;
	font-size: 1em;
}
