.button {
	color: white;
	border-color: #ba5c12;
	border-radius: 5px;
}

.button:hover {
	background-color: #ba5c12;
	color: white;
}

.top-panel {
	background-color: #87bcde;
}

.middle-panel {
	background-color: white;
}

.bottom-panel {
	background-color: #87bcde;
}

.panel-image {
	max-width: 200px;
	max-height: 200px;
}
