.button {
	color: #ba5c12;
	border-color: #ba5c12;
	border-radius: 5px;
}

.button:hover {
	background-color: #ba5c12;
	color: white;
}

.top-panel {
	flex: auto;
	background-color: #87bcde;
}

.middle-panel {
	flex: auto;
	background-color: white;
}

.bottom-panel {
	flex: auto;
	background-color: #87bcde;
}

.panel-image {
	max-width: 200px;
	max-height: 200px;
}

p {
	text-align: center;
}

img {
	width: 60%;
	margin: auto;
	display: block;
}
