.button {
	color: white;
	border-color: black;
	border-radius: 5px;
}

.button:hover {
	color: black;
}

.top-panel {
	background-color: gray;
}

.middle-panel {
	background-color: white;
}

.bottom-panel {
	background-color: gray;
}

.panel-image {
	max-width: 200px;
	max-height: 200px;
}
